*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color: #fcfbfc;
    --background-color: #141821;
    --secondary-color: #ed7117;
}

body{
    background-color: var(--background-color);
    color: var(--primary-color);
}

header{
    text-align: center;
}


header h1{
    margin-top: 40px;
}

header a{
    color: var(--secondary-color);
    text-decoration: none;
}

header a:hover{
    text-decoration: var(--secondary-color) wavy underline;
}

nav ul{
    list-style-type: none;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;

}

nav a{
    color: var(--primary-color);
    text-decoration: none;
    padding: 20px;
    display: block;
}

nav a:hover{
    transform: scale(1.2);
    text-decoration: underline;
}

section{
    margin-top: 40px;
}

section ul{
    list-style-type: none;
}
section a{
    color: var(--secondary-color);
    text-decoration: none;
}

section li{
    margin: 12px;
}

section li:hover{
    text-decoration: var(--secondary-color) wavy underline;
}
